{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Palpites da Rodada 11</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Participante</th>
                        {% for jogo in jogos %}
                        <th>{{ jogo }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for participante in rodada %}
                    <tr>
                        {% for jogo in jogos %}
                        {% if loop.first %}
                        <td><strong>{{ participante[jogo].split(' ')[0] }}</strong></td>
                        {% endif %}
                        <td>{{ participante[jogo] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
